.main{
    border: 1px solid gray;
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.data{
    border: 1px solid gray;
    width: fit-content;
    padding: 4%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
}

.main > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}