.data {
    display: flex;
    margin: 1%;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    height: 1000px;
}

.left {
    /* margin: 1%; */
    width: 35%;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.left div {
    margin-top: 1%;
}

.course {
    margin-left: 4%;
}

.assignment {
    margin-left: 9%;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.right {
    margin-left: 15%;
}