.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

table td {
    border: 1px solid gray;
    width: 100px;
    height: 100px;
}