.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

table td {
    border: 1px solid gray;
    width: 100px;
    height: 100px;
}