.students_and_submissions {
    display: flex;
    justify-content: space-between;
    margin: 0% 3% 0% 3%;
}

.students_and_submissions > div {
    border: 2px solid gray;
    width: 49%;
    border-radius: 3%;
    border-radius: 10px;
    padding-bottom: 0.5%;
}
